/*===============================


  Universal Styling


*===============================*/

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body{
    background: #17203E;
    z-index: -5;
}

.pattern {
    position: fixed;
    top: 0;
    max-width: 75%;
    opacity: .10;
    z-index: -1;
    overflow: hidden;
}

h1 {
    position: relative;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #B9F5FD;
    border: 3px solid #B9F5FD;
    padding: 10px;
    max-width: 80%;

}

.section_titles {
    position: relative;
    text-align: center;
    right: 0px;
    left: 150px;
    margin: 75px 0px 50px 0px;
    z-index: 5;
    overflow: hidden;
}

/*===============================


  Header Styling


*===============================*/

.hero-image {
    position: relative;
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: -10px;
    border: 3px solid #C38CF5;
    padding: 0px 125px 55px;
    z-index: 2;
    overflow: hidden;
}




header nav li {
    display: inline-block;
    color: #17203E;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bold;
    padding: 4px 24px;
    background: #C38CF5;
    margin: 0px 16px;
}

header nav li:hover {
    color: #B9F5FD;
}

header nav {
    position: absolute;
    top: 162px;
    right: 144px;
}

header {
    margin: 0px 0px 100px;
}

#rectangle {
    position: absolute;
    width: 1200px;
    height: 126px;
    background: #B9F5FD;
    z-index: 1;
    top: 12px;
    right: 161px;
    overflow: hidden;
    animation-name: beat;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}



/*===============================


  Songs Styling


*===============================*/
.song_titles {
    position: relative;
    color: white;
    text-align: center;
    max-width: 100%;
    z-index: 5;
    overflow: hidden;
}

.song_titles h2:hover{
    color: #B9F5FD;
}

.song_titles h2 {
    display: inline-block;
    padding: 50px;
    text-transform: uppercase;
    font-family: "Londrina Solid", fantasy;
    font-size: 30px;
    overflow: hidden;
}

.song_bg p {
    font-family: "Londrina Outline", fantasy;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 50px;
    display: inline-block;
    overflow: hidden;
}

.song_bg {
    position: absolute;
    display: inline-block;
    padding: 25px;
    top: 383px;
    opacity: .80;
    left: 53px;
    z-index: 3;
    overflow: hidden;
    background-color: #C38CF5;
}

/*===============================


  Members Styling


*===============================*/


.member_card {
    position: relative;
    float: right;
    margin: 0px 60px;
    max-width: 17%;
}


.member_img {
    border: 3px solid #C38CF5;
    width: 250px;
    padding: 15px;
    transition: 1s;
}

.member_img:hover {
    transform: rotatey(180deg);
    transition: 2s;
}

.member_card h3 {
    position: relative;
    color: #B9F5FD;
    text-align: center;
    max-width: 250px;
    padding: 15px 0px 0px 0px;
}

.member_card p {
    color: #C38CF5;
    text-align: left;
    max-width: 99%;
    padding: 15px 0px;
    overflow: hidden;
}

.voice {
    font-weight: bold;
    color: #B9F5FD
}

/*===============================


  Animations


*===============================*/


@keyframes beat {
  0% {
    transform: scale(.98);
  }
  50% {
      transform: scale(1);
  }
  100% {
    transform: scale(.98);
  }
}
