/*===============================


  Universal Styling


*===============================*/

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body{
  background: #17203E;
  z-index: -5;
}

.pattern {
    position: fixed;
    opacity: .10;
    top: 0;
    max-width: 75%;
    z-index: -1;
}

h1 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
    color: #B9F5FD;
    text-align: center;
    padding: 10px;
    border: 3px solid #B9F5FD;
    max-width: 80%;
    position: relative;
}

.section_titles {
    text-align: center;
    right: 0px;
    position: relative;
    left: 150px;
    margin: 100px 0px 50px 0px;
    z-index: 5;
}

/*===============================


  Header Styling


*===============================*/

.hero-image {
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -10px;
    border: 3px solid #C38CF5;
    padding: 0px 125px 55px;
    z-index: 2;
}

header nav li {
    display: inline-block;
    color: #17203E;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    padding: 0px 75px;
    background: #C38CF5;
    margin: 0px 50px;
}

header nav {
    top: 162px;
    right: 181px;
    position: absolute;
}

#rectangle {
    width: 1200px;
    height: 126px;
    background: #B9F5FD;
    z-index: 1;
    position: absolute;
    top: 12px;
    right: 161px;
}


/*===============================


  Songs Styling


*===============================*/
.song_titles {
    color: white;
    background-color: #C38CF5;
    text-align: center;
    max-width: 100%;
    z-index: 3;
    position: relative;
}

.song_titles h2 {
  display: inline-block;
  padding: 50px;
  text-transform: uppercase;
  font-family: "Londrina Solid", fantasy;
  font-size: 30px;
}

.song_bg p {
    font-family: "Londrina Outline", fantasy;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 50px;
    display: inline-block;
}

.song_bg {
    display: inline-block;
    padding: 25px;
    position: absolute;
    top: 383px;
    opacity: .80;
    left: 53px;
    z-index: 3;
}


/*===============================


  Members Styling


*===============================*/


.member_card {
  padding-top: 50px;
  position: relative;
  float: right;
  margin: 0px 60px;
  max-width: 17%;
}


.member_img {
    border: 3px solid #C38CF5;
    max-width: 250px;
    padding: 15px;
}

.member_card h3 {
    color: #B9F5FD;
    position: absolute;
    display: none;
}

.member_card p {
    color: #C38CF5;
    text-align: left;
    max-width: 98%;
    padding: 15px 0px;
}

  .img_overlay {
      text-align: center;
      font-size: 24px;
      color: #B9F5FD;
      text-transform: uppercase;
      background: black;
      max-width: 18%;
      padding: 158px 25px;
      position: absolute;
      transition: .3s;
      display: none;
  }


.member_img:hover .img_overlay{
  display: contents;

}
